# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# ML models (optional if large)
# Except for backend production models
*.h5
*.pt
*.pkl
!backend/models/*.h5
!backend/models/*.pkl
!backend/models/*.keras

# Node
node_modules/

# React build
build/

# OS
.DS_Store
Thumbs.db